# Dépendances
node_modules/
 
# Build Vite
dist/
dist-ssr/
 
# Fichiers système
.DS_Store
Thumbs.db
 
# Logs
*.log
npm-debug.log*
 
# Variables d'environnement locales
.env
.env.local
.env.*.local
 
# IDE
.vscode/
.idea/
 